header {
  height: 13vh;
  background-color: rgba(0, 0, 0, 0.750);
  padding: 1vh;  

  .header {
    height: 100%;
    display: flex;
    padding: 2vh 3vw;
    border-radius: 15px;
    border: 1px solid rgb(255, 255, 255);

    .header__logo {
      background: url('../super_ferret.jpg') no-repeat;
      background-size: cover;
      width: 4rem;
      height: 4rem;
      border-radius: 50%;

      @media (max-width: 600px) {
        margin: 0 2vw;
        width: 3rem;
        height: 3rem;
      }
    }

    .header__title {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 3vw;
      color: rgb(255, 255, 255);
      margin: 0 2vw;

      @media (max-width: 600px) {
        display: none;
      }
    }
  }
}