.header__curency-group {
  color: rgb(255, 255, 255);
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  flex-grow: 1;

  @media (max-width: 600px) {
    font-size: 0.8rem;
  }

  @media (max-width: 500px) {
    font-size: 0.6rem;
  }

  @media (max-width: 450px) {
    font-size: 0.5rem;
  }
  
  .header__curency-item {
    display: flex;
    align-items: center;
    font-size: 2vmin;
  }  
}